[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
pytest = "*"
flake8 = "*"
aiohttp = ">=3.7.4"
aioprometheus = "*"
bitstring = "*"

[dev-packages]

[requires]
python_version = ">=3.7"
